*{
        font-family: 'Roboto Serif', serif;
      }
        

body{
        background-color: #fbeca3;
        margin: 0;
        padding: 0;
}
.row {
	margin-right: -20px;
}
.container {
        max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.content-area {
        padding-bottom: 40px;
	padding-top: 40px;
}
.thumbnails {
        margin-right: -15px;
}

.thumbnails a {
        float: left;
	width: 25%;
	box-sizing: border-box;
	padding-right: 15px;
	margin-bottom: 15px;
}

.thumbnails img {
        width: 100%;
	height: auto;
	display: block;
	transition: all .2s ease-in-out;
}

.sidebar {
        font-size: 80%;
}

h2 {
        font-size: 145%;
}

p{
        font-size: 15px;
        color: black;
        
}

.about {
        font-weight: 500px;
}
    
